.ContentContainer {
    width: 90%;
    margin: auto;
    border: 1px solid #0A435A;
    max-width: 1200px;
}

.ContentContainer__head {
    display: flex;
    background: url('~assets/s-f.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    height: 245px;
}

.ContentContainer__head_title {
    color: #fff;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
}

.ContentContainer__wrap {
    padding: 30px;
    background-color: #fff;
}

.ContentContainer__near {
    margin-bottom: 20px;
}

.ContentContainer__near_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #0A435A;
}

.ContentContainer__near_cards {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}