.Jumbo {
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}

.Jumbo__sub {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #0A435A;
    font-size: 15px;
}

@media (min-width: 800px) {
    .Jumbo__sub {
        font-size: 20px;
        margin-top: 40px;
    }
}