.Regional {
    background: #e6ecee;
    min-height: calc(100vh - 304px);
    display: block;
    padding: 0;
    min-width: 1331px;
}

.Regional__nav {
    background: #fff;
    position: static;
    height: 112px;
}

.Regional__content {
    min-height: calc(100vh - 304px);
    background: #e6ecee;
    padding: 40px 0;
}